<div id="erroralert" class="erroralert">
  <p id="error"></p>
</div>
<form method="post" id="form">
  <input type="text" placeholder="info@betsite.com" name="email" id="email" />
  <button class="btn-login" id="sub">Send</button>
</form>

{% block javascript %}
<script>
  const form = document.getElementById("form");

  form.addEventListener("submit", handleSubmit);

  function handleSubmit(e) {
    e.preventDefault();

    const email = document.getElementById("email").value;

    fetch("http://127.0.0.1:5000/forgetpassword/send", {
      method: "POST",
      headers: {
        "Content-Type": "application/x-www-form-urlencoded",
        "X-CSRFToken": "{{csrf_token}}",
      },
      body: `email=${email}`,
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.ok) {
          window.location.href = "http://127.0.0.1:5000/";
        } else {
          error.innerHTML = data.status;
        }
      });
  }
</script>
{% endblock javascript %}
