<div id="erroralert" class="erroralert">
  <p id="error"></p>
</div>
<form method="post" id="form">
  <input type="text" placeholder="New password" name="password" id="password" />
  <input
    type="text"
    placeholder="Replay New password"
    name="repassword"
    id="repassword"
  />
  <button class="btn-login" id="sub">Send</button>
</form>

{% block javascript %}
<script>
  const form = document.getElementById("form");

  form.addEventListener("submit", handleSubmit);

  function handleSubmit(e) {
    e.preventDefault();

    const password = document.getElementById("password").value;
    const repassword = document.getElementById("repassword").value;

    fetch(
      "http://127.0.0.1:5000/forgetpassword/{{user['email']}}/{{user['forgetpassword']}}/set",
      {
        method: "POST",
        headers: {
          "Content-Type": "application/x-www-form-urlencoded",
          "X-CSRFToken": "{{csrf_token}}",
        },
        body: `password=${password}&repassword=${repassword}`,
      }
    )
      .then((response) => response.json())
      .then((data) => {
        error.innerHTML = data.status;
      });
  }
</script>
{% endblock javascript %}
