<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='index.css') }}">
  </head>
    <body>
      <header>
        {% if user != None %}
          <h1>Hi, {{ user }}</h1>
          <div>
              <a href="http://127.0.0.1:5000/logout">
                <button type="button" name="button">Logout</button>
              </a>
              <a href="http://127.0.0.1:5000/forecast">
                <button type="button" name="button">Forecast</button>
              </a>
          </div>
        {% else %}
          <h1>Welcome To EverliceBet</h1>

          <div>
              <a href="http://127.0.0.1:5000/login">
                <button type="button" name="button">Login</button>
              </a>
              <a href="http://127.0.0.1:5000/register">
                <button type="button" name="button">Register</button>
              </a>
          </div>
        {% endif %}
    </header>
    {% if forecast %}
      {% for cast in forecast %}
        <div style="color:white;">
          <p><span>Coin : </span>{{ cast['coin'] }}</p>
          <p><span>Guess : </span>{{ cast['guess'] }}</p>
          <p><span>Date : </span>{{ cast['date'] }}</p>
          <p><span>Money : </span>{{ cast['money'] }}</p>
          <button type="button" name="button" id="but" class="{{ cast['_id'] }}">Participation</button>
        </div>
      {% endfor %}
    {% endif %}



  {% block javascript %}
    <script>

    const but = document.getElementById('but');

    but.addEventListener('click', handleSubmit);

    function handleSubmit(e) {
      e.preventDefault();

      idcast = document.getElementById('but').className;
      url = 'http://127.0.0.1:5000/participation/' + idcast;

      fetch(url)
        .then(response => response.json())
        .then(data => console.log(data.status));


    }

    </script>
  {% endblock javascript %}
  </body>
</html>
